= link_to "http://www.protectedmethod.com", :target => "_blank" do
  = image_tag 'protected_method.png'
  Developed by Protected Method LLC

= link_to "http://theelefanta.com", :target => "_blank" do
  = image_tag "elefanta.png"
  Design by The Elefanta
