#sidebar
  .banner-vertical
    %h2.first Erin Neubauer
    %h2.last
      %strong Photography

  %ul#vertical_nav
    - @photosets.each do |p|
      %li
        = link_to p.title.upcase, p.id

    %li= link_to "ABOUT", about_path
    %li= link_to "CONTACT", contact_path

#gallery_wrapper
  #gallery

:javascript

  $("a").click(function(e){
    var flickr = new Galleria.Flickr();
    flickr.set($(this).attr('href'), function(data){
      Galleria.get(0).load(data);
    });

    e.preventDefault();
  });

  // Initialize Galleria
    $('#gallery').galleria({
          lightbox: true,
          flickr: 'user:eneubauer',
          flickrOptions: {
                          sort: 'interestingness-desc'
                          }
          });
