#sidebar
  .banner-vertical
    %h2.first
      =link_to "Erin Neubauer", home_path

    %h2.last
      %strong
        =link_to "Photography", home_path

  %ul#vertical_nav
    - @photosets.each do |p|
      %li
        = link_to p.title.upcase, p.id, :class => 'photoset-link'

    %li= link_to "ABOUT", about_path
    %li= link_to "CONTACT", contact_path

#gallery_wrapper
  #gallery

:javascript

  $(function(){
    $("a.photoset-link").click(function(e){
      e.preventDefault();
      loadGallery( $(this).attr('href') );
    });

    // Initialize Galleria
    $('#gallery').galleria({
      lightbox: true
    });

    loadGallery('#{params[:id]}');

    function loadGallery(setId){
      var setGallery = function(data) { Galleria.get(0).load(data); };
      var flickr = new Galleria.Flickr();
      flickr.setOptions({sort: 'interestingness-desc'});

      if (setId && setId.length > 0)
        flickr.set(setId, setGallery)
      else
        flickr.user('eneubauer', setGallery)
    }

  });

