!!!
%html
  %head
    %title Erin Neubauer Photography
    = stylesheet_link_tag "application"

    = javascript_include_tag "application"

  %body
    #container
      = yield
      #container_footer
    #footer
      = render :partial => "shared/footer"
